<!DOCTYPE html>
<html>
<head>
  <title>SiwGraph</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery1.7", "rails", "yui-min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>